.homeHeader .active {
    border-bottom: 5px solid orange ;
}

.homeHeader img{
    width: 100px;
}

.homeHeader .navbar-light .navbar-nav .nav-link {
    color: white;
}

/* carSection */
.mainslider{
    .carousel-item {
        height: 450px;
    }
        img {
            height :100%;
            object-fit: cover;
        }
    }
    .carousel-caption{
        top: 25%;
        bottom: auto;
       p{
        text-shadow: 0 3px rgb(0,0,0);
       }
    
    }

/* stickyContent */

.stickyContent {
    background-image: url("/assets/images/lights.jpg");
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}
.videoSection{
    background-image: url("/assets/images/media.jpg");
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.photoGallery img{
    height: 200px;
    object-fit: cover;
}